[Unit]
Description=Public Eye
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Environment="EAGLE_EYE_PATH=/opt/eagle_eye"
Environment="PYTHONPATH=${PYTHONPATH}:/opt/eagle_eye"
WorkingDirectory=/opt/eagle_eye/backend
ExecStart=yarn start
StandardOutput=journal+console
StandardError=journal+console
User=markus
Restart=on-failure

[Install]
WantedBy=multi-user.target
